/* Container principal do menu */
.menu {
  display: flex; /* Usa flexbox para layout */
  align-items: center; /* Centraliza verticalmente os itens */
  justify-content: center; /* Centraliza horizontalmente os itens */
  gap: 1.6rem; /* Espaço entre os elementos do menu */
}

/* Link do menu (texto + ícone) */
.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.1s ease-in-out;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

/* Efeito ao passar o mouse sobre o menu */
.menuLink:hover {
  filter: brightness(80%); /* Escurece o menu ao passar o mouse */
}

/* Estilização do SVG dentro do menu */
.menuLink svg {
  width: 2.4rem; /* Largura do ícone */
  height: 2.4rem; /* Altura do ícone */
}
